<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add<%=partname%>">
	Add <%=partname%>
</button>

<!-- Modal -->
<div class="modal modal-lg fade" id="add<%=partname%>" tabindex="-1" aria-labelledby="add<%=partname%>ModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="add<%=partname%>ModalLabel">Add <%=partname%></h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>

			<form id = "add<%=partname%>Form" class = "needs-validation" name = "add<%=partname%>Form" method = "POST" action = "/" novalidate>
				
                <div class="modal-body">
					<div id = "add<%=partname%>FormDiv">
                        <% const partialURL = "popupFields/add" + partname + "FormFields.ejs"%>
						<%- include(partialURL, {authority, clusters}) %>
					</div>
				</div>
				<div class="modal-footer">
					<button type="reset" class="btn btn-danger" onclick="ResetAll(authority)">Reset</button>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Save</button>
				</div>
			</form>

		</div>
	</div>
</div>