<div class="card-actions mt-4 mb-4">
    <!-- Search bar -->
    <%-include('orgPartViews/searchBar.ejs', {type})%>
    
    <!-- Add button -->
    <%-include('orgPartViews/addButton.ejs', {type})%>
</div>

<%-include('popups/addPartModal.ejs', {authority, partname: type}) %>
<%-include('popups/editPopup.ejs', {partname: type}) %>

<div class="row">
    <% for (let i = 0; i < pageParts.length; i++) { %>
        <!-- Containers -->
        <div class="col-md-4 d-flex" id = "<%=pageParts[i]._id%>">
            <div class="d-flex flex-column flex-grow-1 justify-content-between section-card" style="background:white !important">
                <div>
                    <div class="d-flex justify-content-between">
                        <script>
                            var encodedText = '<%=pageParts[i].name%>';

                            // Create a new element to decode the HTML-encoded text
                            var decodedElement = document.createElement('div');
                            decodedElement.innerHTML = encodedText;

                            // Get the decoded text
                            var decodedText<%=i%> = decodedElement.innerText;

                        </script>
                        
                        <h5><%=pageParts[i].name%></h5>
                        <!-- <h5>< %=type%> < %=pageParts[i].name%></h5> -->
                        <i class='bx bx-export card-export' id="<%=pageParts[i]._id%>" onclick="displayExportMessage(event, decodedText<%=i%>, '<%=pageParts[i]._id%>','<%=type%>')"></i>
                    </div>
                    
                    <div class="flex flex-row flex-cross-bottom" style="font-weight:200">
                        <span><small><%=pageParts[i].location%></small></span>
                        <img src="/img/location.png" width="32" height="32" />
                    </div>
                </div>
   
                <div class="container-bottom mt-4">
                    <div class="flex flex-row gap-2 w-full">
						<button onclick="document.getElementById('<%=pageParts[i]._id%>').click()" class="mini-button blue">view</button>
                        <button type="button" class="mini-button btn-green" data-bs-toggle="modal" data-bs-target="#edit<%=type%>" data-bs-name="<%=pageParts[i].name%>" id="<%=pageParts[i]._id%>">edit</button>
                        <script>
                            var editButton = document.getElementById("<%=pageParts[i]._id%>");
                            editButton.onclick = function() {
                                changeForm("<%=pageParts[i]._id%>","<%=type%>");
                            };
                        </script>
                        <button type="button" class="mini-button red" data-bs-toggle="modal" data-bs-target="#deleteModal<%= i %>" id ="<%=pageParts[i]._id%>">delete</button>
                    </div>

                    <div class="savings-card">
                        <h4 class="format-number"><%=pageParts[i].totalKaban%></h4>
                        <span><small>Total Savings</small></span>
                    </div> 
                </div>
            </div>
        </div>
        <script>
            <% if (type == "Cluster") { %>
                cardLink("project", "<%=pageParts[i]._id%>");
            <% } else if (type == "Sub-Projects") { %>
                cardLink("group", "<%=pageParts[i]._id%>");
            <% } %>
        </script>

        
    <% } %>
</div>

<div class="toast text-center text-white
            bg-primary position-fixed 
            top-0 start-50 
            translate-middle-x"
            data-delay="5000"
            role="alert" aria-live="assertive"
            aria-atomic="true">
    <div class="d-flex">
        <div class="toast-body">

        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>
