<div class="card-actions mt-4 mb-4">
    <!-- Search bar -->
    <%-include('orgPartViews/searchBar.ejs', {type})%>
    
    <!-- Add button -->
    <%-include('orgPartViews/addButton.ejs', {type})%>
</div>

<%-include('popups/addPartModal.ejs', {authority, partname: type}) %>
<%-include('popups/editPopup.ejs', {partname: type}) %>
<script>
    console.log("<%=type%>")
</script>
<div class="row">
    <% for (let i = 0; i < pageParts.length; i++) { %>
        <!-- Containers -->
        <div class="col-md-4 d-flex" id = "<%=pageParts[i]._id%>">
            <div class="container container-style d-flex flex-column flex-grow-1 justify-content-between">
                <div>
                    <div class="d-flex justify-content-between">
                        <h5><%=type%> <%=pageParts[i].name%></h5>
                        <i class='bx bx-export card-export' id="<%=pageParts[i]._id%>" onclick="displayExportMessage(event, '<%=pageParts[i].name%>', '<%=pageParts[i]._id%>','<%=type%>')"></i>
                    </div>
                    
                    <div>
                        <i class='bx bxs-map'></i>
                        <span><small><%=pageParts[i].location%></small></span>
                    </div>
                </div>
   
                <div class="container-bottom mt-4">
                    <div class="d-flex align-items-end">
                        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#edit<%=type%>" data-bs-name="<%=pageParts[i].name%>" id="<%=pageParts[i]._id%>">Edit</button>
                        <script>
                            var editButton = document.getElementById("<%=pageParts[i]._id%>");
                            editButton.onclick = function() {
                                changeForm("<%=pageParts[i]._id%>","<%=type%>");
                            };
                        </script>
                        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal<%= i %>" id ="<%=pageParts[i]._id%>">Delete</button>
                    </div>

                    <div>
                        <span><small>Total Savings:</small></span>
                        <h4 class="format-number"><%=pageParts[i].totalKaban%></h4>
                    </div> 
                </div>
            </div>
        </div>
        <script>
            <% if (type == "Cluster") { %>
                cardLink("project", "<%=pageParts[i]._id%>");
            <% } else if (type == "Sub-Projects") { %>
                cardLink("group", "<%=pageParts[i]._id%>");
            <% } %>
        </script>

        
    <% } %>
</div>

<div class="toast-container
            position-fixed 
            top-0 start-50 
            translate-middle-x
            mt-5"
            data-delay="3000">
    <div class="toast mt-4 text-center bg-info fw-bold text-black-50">
        <div class="toast-body">

        </div>
    </div>
</div>