<div class="d-flex mt-4 mb-4 justify-content-between align-items-center">
    <!-- Search bar -->
    <div class="col-11 col-md-10">
        <div class="search-bar d-flex">
            <input type="text" class="form-control" placeholder="Search for ..." aria-label="Search" aria-describedby="button-addon2">
            <button class="btn btn-primary" type="button" id="button-addon2">Search</button>
        </div>
    </div>
    
    <!-- Add button -->
    <div class="d-flex align-items-center p-2">
        <div>
            <button type="button" class="btn btn-primary">
                <i class='bx bx-plus'></i>
                <span class="d-none d-sm-inline">Add Cluster</span>
            </button>
        </div>
    </div>
</div>

<div css="row">
    <% for (let i = 0; i < pageParts.length; i++) { %>
        <!-- Containers -->
        <div class="col-md-4">
            <div class="container container-style">
                <h5><%=type%> <%=pageParts[i].name%></h5>
                
                <div>
                    <i class='bx bxs-map'></i>
                    <span><%=pageParts[i].location%></span>
                </div>

                <div class="container-bottom mt-4">
                    <div class="d-flex align-items-end">
                        <button type="button" class="btn btn-primary btn-sm">Edit</button>
                        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal<%= i %>">Delete</button>
                    </div>

                    <div>
                        <span>Total Savings:</span>
                        <h3>P <%=pageParts[i].totalKaban%></h3>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
</div>