<div class="p-4 gap-2 flex flex-column" style="overflow: scroll;">
    <div class="left-card left-card-blue summary-container">
	<h3 class="summary-heading">Member Information:</h3>
	<table class="summary">
	    <tr class="summary-row">
		<td class="summary-label">Name:</td>
		<td class="summary-data"><%= name %></td>
	    </tr>
	    <tr class="summary-row">
		<td class="summary-label">Member ID:</td>
		<td class="summary-data"><%= orgId %></td>
	    <tr class="summary-row">
		<td class="summary-label">Generated On:</td>
		<td class="summary-data"><%= genDate.toLocaleDateString("en-US", dateOptions) %></td>
	    </tr>
	</table>
    </div>
    <h3 class="summary-heading">Finance Summary</h3>
    <div class="left-card left-card-green centered-number">
	<div class="centered-number-label">SAVINGS + MATCH</div>
	<div class="centered-number-green">₱<%= totalSaving + totalMatch %></div>
    </div>
    <div class="left-card left-card-red centered-number">
	<div class="centered-number-label">DEDUCTIONS</div>
	<div class="centered-number-red">₱<%= totalDeductions %></div>
    </div>
    <div class="left-card left-card-plainblue centered-number">
	<div class="centered-number-label">TOTAL</div>
	<div class="centered-number-plainblue">₱<%= totalSaving + totalMatch - totalDeductions %></div>
    </div>
	
    <a href="<%= generateLink %>" class="btn btn btn-primary">Generate</a>
</div>

