<div class="d-flex mt-4 mb-4 justify-content-between align-items-center card-actions"> 
    <div class="col-12 col-md-6">
        <div class="search-bar d-flex input-group">
            <span class="input-group-text"><i class='bx bx-search'></i></span>
            <input type="text" class="form-control" placeholder="Search for member by name or ID" aria-label="Search" aria-describedby="button-addon2" id="searchBar">
            <script>
                $(document).ready(function(){
                  $("#searchBar").on("keyup", function() {
                    var value = $(this).val().toLowerCase();
                    $("#tableRows tr").filter(function() {
                      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                  });
                });
            </script>
        </div>
    </div>
</div>

<div id = "table_div" class = "table-responsive">
    <table id="membersTable" class="table table-sm table-hover" style="width:100%">
        <caption class = "text-center">End of list</caption>
        <thead>
            <tr>
                <% if (pageName == "Members Masterlist") { %>            
                    <th class = "text-center col-2">ID</th>
                    <th class = "text-center">Name</th>
                    <th class = "text-center col-2">View Profile</th>
                <% } else { %>
                    <th class = "text-center col-2">Account Type</th>
                    <th class = "text-center">Username</th>
                    <th class = "text-center col-2">Edit</th>
                <% } %>
                <th class = "text-center col-2">Delete</th>
            </tr>
        </thead>
        <tbody id="tableRows">
            <% for (let i = 0; i < memberList.length; i++) { %>
                <tr>
                    <% if (pageName == "Members Masterlist") { %> 
                        <td class = "text-center"><%= memberList[i].id %></td>
                        <td class = "text-center"><%= memberList[i].name %></td>
                        <td class="text-center"><button type="button" class="btn btn-primary btn-sm w-75" onclick ="redirectMember('<%= memberList[i].objectID%>')">View</button></td>
                        <td class="text-center"><button type="button" class="btn btn-danger btn-sm w-75" onclick="displayDeleteModal('<%= memberList[i].name %>','<%= memberList[i].objectID%>')">Delete</button></td>
                    <% } else { %>
                        <td class = "text-center"><%= memberList[i].type %></td>
                        <td class = "text-center"><%= memberList[i].username %></td>
                        <td class="text-center"><button type="button" class="btn btn-primary btn-sm w-75" onclick="displayEditModal('<%= memberList[i] %>')">Edit</button></td>
                        <td class="text-center"><button type="button" class="btn btn-danger btn-sm w-75" onclick="displayDeleteModal('<%= memberList[i].username %>')">Delete</button></td>
                    <% } %>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>

<script>
    function displayDeleteModal(memberName,memberId) {
        // Show the modal using Bootstrap's modal method
        $('#deleteProfileModal').modal('show');
        if (`<%=pageName%>` == "Members Masterlist") {
            $('#memberNameToDelete').text(memberName);
            cardDelete("masterlist", memberId);
        } else {
            $('#userToDelete').text(memberName);
            cardDelete("member", memberId);
        }
       }

    function displayEditModal(member) {
        
    }

    function redirectMember(id){
        data = { memberId:id };
        fetch('/redirectMiddle', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(response => {
                if (response.ok) {
                    window.location.href = "/memberInfo";
                } else {
                    return response.json();
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
</script>