<div class="register-container w-full flex flex-column gap-2">
	<h4>Account Registration</h4><hr>
	<div class="edit-container flex flex-column" style="gap: 1em">
		<h4>Registration Upload Summary</h4>
		<div class="flex flex-column">
			<div class="flex flex-row">
				<h5>Upload Status:</h5>
				<p class="ml-auto">Processing Complete</p>
			</div>
			<div class="flex flex-row">
				<h5>Valid Records:</h5>
				<p class="ml-auto"><%= recordsDone %> / <%= recordsTotal %></p>
			</div>
			<div class="flex flex-row">
				<h5>Issues:</h5>
				<p class="ml-auto"><%= errorCount %> validation errors</p>
			</div>
		</div>
	</div>
	<hr class="big-summary-hr" />
	<div class="grid grid-cols-2">
		<div class="edit-container flex flex-column flex-center">
			<div class="big-summary-text"><%= recordsDone %></div>
			<div>Successfully Registered</div>
		</div>
		<div class="edit-container flex flex-column flex-center">
			<div class="big-summary-text"><%= errorCount %></div>
			<div>Validation Errors</div>
		</div>
		<div class="edit-container flex flex-column flex-center">
			<div class="big-summary-text"><%= successRate %>%</div>
			<div>Success Rate</div>
		</div>
	</div>

	<div class="bg-warning flex flex-row edit-container" style="flex-grow:0;">
		<img src="/img/warning.svg" width="64" height="64">
		<div>
			<div>Issues detected:</div>
			<ul style="margin:0;">
				<% issues.forEach(function(issue) {%>
					<li><%=issue%></li>
				<% }) %>
			</ul>
		</div>
	</div>

	<div class="flex flex-row gap-2">
		<a class="btn btn-primary">Review Errors</a>
		<a class="btn btn-primary">View Registered</a>
		<a class="btn btn-primary" href="/mass-register">Re-Upload Data</a>
	</div>
</div>
