<div class="register-container">
    <div class="edit-container">
        <h4>Account Registration</h4><hr>

        <!-- <form onsubmit="event.preventDefault();" class="needs-validation" novalidate> -->
        <form>
            <div class="row">
                <div class="col-md-6" id="inputContainer">
                    <div class="p-2">
                        <!-- Hannah: In case names are required -->
                        <!-- <div class="row mb-2">
                            <div class="col-md-6">
                                <span>First Name</span>
                                <input type="text" class="form-control" value="" required>
                                <div class="invalid-feedback">
                                    Please fill out this field.
                                </div>
                            </div>
                            <div class="col">
                                <span>Last Name</span>
                                <input type="text" class="form-control" value="" required>
                                <div class="invalid-feedback">
                                    Please fill out this field.
                                </div>
                            </div>
                        </div> -->
                        <div class="mb-2">
                            <span>Username</span>

                            <input type="text" class="form-control" id="newUsername" value="" required onkeyup="validateUsername()" autocomplete="off">

                            <span id="usernameAlert"></span>
                        </div>
                        <div class="mb-2">
                            <span>Password</span>
                            <input type="password" id="newPass" class="form-control" required onkeyup="validatePassword()" autocomplete="new-password">
                        </div>
                        <div class="mb-2">
                            <span>Confirm Password</span>
                            <input type="password" id="confirmPass" class="form-control" required onkeyup="validatePassword()" autocomplete="new-password">

                        </div>
                        <span id="matchingAlert2"></span>
                    </div>
                </div>

    
                <div class="col-md-6" id="inputContainer">
                    <div class="p-2">
                        <div class="mb-2">
                            <span>Account Type</span>
                            <div>
                                <select class="custom-select form-select" id="accountType" required <% if (authority == 'Admin') { %> onclick="accountTypeSelect()" <% } %>>
                                    <option selected>Choose...</option>
    
                                    <% if (authority == "Admin") { %>
                                        <option value="1">Admin</option>
                                    <% } %>
                                    <option value="2">SEDO</option>
                                    <option value="3">Treasurer</option>
                                </select>
                            </div>
                        </div>
    

                        <% let cluster = [] %>
                        <% let spu = [] %>
                        <% let shg = [] %>

    
                        <div class="mb-2">
                            <span>Cluster</span>
                            <div>
                                <select class="custom-select form-select" id="clusterSelect" required <% if (authority !== 'Admin') { %> disabled <% } %>>

                                    <option selected>
                                        <% if (authority !== 'Admin') { %>
                                            <%- cluster[0] %>
                                        <% } else { %>
                                            Choose...
                                        <% } %>
                                    </option>
                                    <% for (var i = 0; i < cluster.length; i++) { %>

                                        <option value="<%- cluster[i] %>"><%- cluster[i] %></option>

                                    <% } %>
                                </select>
                            </div>
                        </div>

    
                        <div class="mb-2">
                            <span>Sub-Project Unit</span>
                            <div>
                                <select class="custom-select form-select" id="spuSelect" required>
                                    <option selected>Choose...</option>
                                    <% for (var i = 0; i < spu.length; i++) { %>
                                        <option value="i"><%- spu[i] %></option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
    
                        <div class="mb-2">
                            <span>Self-Help Group</span>
                            <div>
                                <select class="custom-select form-select" id="shgSelect" required>
                                    <option selected>Choose...</option>
                                    <% for (var i = 0; i < shg.length; i++) { %>
                                        <option value="i"><%- shg[i] %></option>
                                    <% } %>
                                </select>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
    
            <div class="d-flex justify-content-center button-gap mt-4">
                <button class="btn btn-secondary ml-2" onclick="window.location.href = '/registration'">Cancel</button>
                <button type="submit" class="btn btn-primary" id="saveChanges">Register</button>
                <!-- TBD: Show modal after submitting -->
                <!-- <button type="submit" class="btn btn-primary" id="saveChanges" onclick="showModal()">Register</button> -->
            </div>
        </form>
    </div>
</div>
    
<script>
    function showModal() {
        const saveModal = new bootstrap.Modal(document.getElementById("saveModal"));
        saveModal.show();
    }
                        
                        
    function accountTypeSelect() {
        var accountType = document.getElementById("accountType").value;
        var elementsToHandle = ["clusterSelect", "spuSelect", "shgSelect"];

        if (accountType == 1) {
            elementsToHandle.forEach(function (elementId) {
                var element = document.getElementById(elementId);
                element.disabled = true;
                element.value = "";
            });
        } else if (accountType == 2) {
            elementsToHandle.forEach(function (elementId) {
                if (elementId !== "clusterSelect") {
                    var element = document.getElementById(elementId);
                    element.disabled = true;
                    element.value = "";
                } else {
                    var element = document.getElementById(elementId);
                    element.disabled = false;
                    element.value = "Choose...";
                }
            });
        } else {
            elementsToHandle.forEach(function (elementId) {
                document.getElementById(elementId).disabled = false;
                var element = document.getElementById(elementId);
                element.disabled = false;
                element.value = "Choose...";
            });
        }
    }
</script>