<div class="d-flex mt-4 mb-4 justify-content-between align-items-center">
    <!-- Search bar -->
    <div class="col-9">
        <div class="search-bar d-flex">
            <input type="text" class="form-control" placeholder="Search for ..." aria-label="Search" aria-describedby="button-addon2" id="searchBar">
            <button class="btn btn-primary" type="button" id="button-addon2">Search</button>
            <script>
                search("<%=type%>");
            </script>
        </div>
    </div>

    <div  class="d-flex justify-content-end">
        <div class="d-flex align-items-center p-1">
            <div>
                <script>
                    var encodedText = '<%=projectName%>';

                    // Create a new element to decode the HTML-encoded text
                    var decodedElement = document.createElement('div');
                    decodedElement.innerHTML = encodedText;

                    // Get the decoded text
                    var decodedText = decodedElement.innerText;

                </script>
                <button type="button" class="btn btn-primary" onclick="displayExportMessage(event, decodedText, '<%=projectId%>','Sub-Projects')">
                    <i class='bx bx-export '></i>
                    <span class="d-none d-sm-inline">Export</span>
                </button>
            </div>
        </div>
        <!-- Add button -->
        <div class="d-flex align-items-center">
            <div>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add<%=type%>">
                    <i class='bx bx-plus'></i>
                    <span class="d-none d-sm-inline">Add</span>
                </button>
            </div>
        </div>
    </div>
</div>
<%-include('popups/addPartModal.ejs', {partname: type}) %>
<%-include('popups/editPopup.ejs', {partname: type}) %>
<div>
    <% for (let i = 0; i < pageParts.length; i++) { %>
        <!-- Containers -->
        <div class="container-style mb-3" id = <%=pageParts[i]._id%>>
            <div class="d-flex justify-content-between">
                <h5><%=pageParts[i].name%></h5>
                <script>
                    var encodedText = '<%=pageParts[i].name%>';

                    // Create a new element to decode the HTML-encoded text
                    var decodedElement = document.createElement('div');
                    decodedElement.innerHTML = encodedText;

                    // Get the decoded text
                    var decodedText<%=i%> = decodedElement.innerText;

                </script>
                <i class='bx bx-export card-export' id="<%=pageParts[i]._id%>" onclick="displayExportMessage(event, decodedText<%=i%>, '<%=pageParts[i]._id%>','<%=type%>')"></i>
            </div>
            <div>
                <i class='bx bxs-map'></i>
                <span><%=pageParts[i].location%></span>
            </div>

            <div class="container-bottom">
                <div class="d-flex align-items-end">
                    <button type="button" class="btn btn-secondary btn-sm toggle-details" data-target="details-container<%= i %>" onclick="toggleDetailsText('<%=pageParts[i]._id%>')">
                        <i class="bx bxs-chevron-down arrow-icon"></i> View Details
                    </button>
                    
                    <script>
                        function toggleDetailsText(containerId) {
                            var detailsContainer = document.getElementById(containerId);
                            var toggleDetailsButton = detailsContainer.querySelector(".toggle-details");
                    
                            if (toggleDetailsButton.textContent.trim() === "View Details") {
                                toggleDetailsButton.innerHTML = "<i class='bx bxs-chevron-up arrow-icon'></i> Hide Details";
                            } else {
                                toggleDetailsButton.textContent = "View Details";
                                toggleDetailsButton.innerHTML = "<i class='bx bxs-chevron-down arrow-icon'></i> View Details";
                            }
                        }
                    </script>
                    
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#edit<%=type%>" data-bs-name="<%=pageParts[i].name%>" id="<%=pageParts[i]._id%>">Edit</button>
                    <script>
                        var editButton = document.getElementById("<%=pageParts[i]._id%>");
                        editButton.onclick = function() {
                            changeForm("<%=pageParts[i]._id%>","<%=type%>");
                        };
                    </script>
                    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal<%= i %>">Delete</button>
                </div>

                <div>
                    <span><small>Total Savings:</small></span>
                    <h4 class="format-number"><%=pageParts[i].totalKaban%></h4>
                </div> 
            </div>
        </div>

        <div class="d-none details-container" id="details-container<%= i %>">
            <h6>SHG  Details</h6>
            <div class="row">
                <div class="col-6">
                    <span><strong>SPU:</strong> <%=pageParts[i].SPU%> </span><br>
                    <span><strong>Total Members:</strong> <%=pageParts[i].totalMembers%></span><br>
                    <span><strong>Depository Bank:</strong> <%=pageParts[i].depositoryBank%> </span><br>
                    <span><strong>Account Type:</strong> <%=pageParts[i].bankAccountType%></span><br>
                    <span><strong>Account Number:</strong> <%=pageParts[i].bankAccountNum%></span><br>   
                </div>
                <div class="col-6">
                    <% if (pageParts[i].SHGLeader) { %>
                    <span><strong>SHG Leader:</strong> <%=pageParts[i].SHGLeader.firstName%> <%=pageParts[i].SHGLeader.lastName%></span><br>
                    <% } %>
                    <% if (pageParts[i].SEDPChairman) { %>
                        <span><strong>SEDP Chairman:</strong> <%=pageParts[i].SEDPChairman.firstName%> <%=pageParts[i].SEDPChairman.lastName%></span><br>
                    <% } %>
                    
                    <% if (pageParts[i].kabanTreasurer) { %>
                        <span><strong>Kaban Treasurer:</strong> <%=pageParts[i].kabanTreasurer.firstName%> <%=pageParts[i].kabanTreasurer.lastName%></span><br>
                    <% } %>
                    
                    <% if (pageParts[i].kabanAuditor) { %>
                        <span><strong>Kaban Auditor:</strong> <%=pageParts[i].kabanAuditor.firstName%> <%=pageParts[i].kabanAuditor.lastName%></span><br>
                    <% } %>
                </div>
            </div>
        </div>
        <script>
            cardLink("member", "<%=pageParts[i]._id%>");
        </script>
    <% } %>
</div>

<div class="toast text-center text-white
            bg-primary position-fixed 
            top-0 start-50 
            translate-middle-x"
            data-delay="5000"
            role="alert" aria-live="assertive"
            aria-atomic="true">
    <div class="d-flex">
        <div class="toast-body">

        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>