<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('components/headers.ejs', {authority, pageName: "Clusters"})%>
    
    <!-- CSS -->
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/clusters.css" />
    <link rel="stylesheet" href="/css/cardPages.css" />
    
    <!-- SCRIPTS -->
    <script src="/js/editButton.js"></script>
    <script src="/js/card.js"></script>
    <script src="/js/formChange.js"></script>
    <script src="/js/search.js"></script>
    <script src="/js/reload.js"></script>
</head>

<body class="body-bg">
    
    <%- include('components/navbars/navbar.ejs', {authority: authority})%>
    
    <main>
        <!-- Top navigation bar -->
        <%- include('components/navbars/topNavbar.ejs')%>

        <!-- Cluster Content -->
        <div class="p-4 mt-5">
            <h3 class="Clusters page-title">Cluster Management</h3>

            <div class="section-card cluster-overview-container-card">
                <h3 class="cluster-overview-title">Overview</h3>
                <div class="cluster-overview-container">
                    <div class="cluster-overview-card red">
                        <div class="cluster-overview-number"><%=totalClusters%></div>
                        <div class="cluster-overview-label">Total Clusters</div>
                    </div>
                    <div class="cluster-overview-card green">
                        <div class="cluster-overview-number"><%=totalSavings%></div>
                        <div class="cluster-overview-label">Total Savings</div>
                    </div>
                    <div class="cluster-overview-card yellow">
                        <div class="cluster-overview-number"><%=activeMembers%></div>
                        <div class="cluster-overview-label">Active Members</div>
                    </div>
                    <div class="cluster-overview-card blue">
                        <div class="cluster-overview-number"><%=locations%></div>
                        <div class="cluster-overview-label">Locations</div>
                    </div>
                </div>
            </div>
            
            <% var type = "Cluster";  %>
            <%- include('components/cardPages.ejs', { groupName: "All", groupId: "All", pageParts, type, authority}) %>
            <%- include('components/pagination.ejs', {page, totalPages})%>
        </div>

        <%- include('components/popups/deletePopup.ejs', { pageParts, type })%>
        <script>open('partsButton')</script>
        <%-include('components/popups/logoutPopup.ejs') %>
    </main>
</body>
</html>
