<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('components/headers.ejs', {authority, pageName: "Clusters"})%>
    
    <!-- CSS -->
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/clusters.css" />
    <link rel="stylesheet" href="/css/cardPages.css" />
    
    <!-- SCRIPTS -->
    <script src="/js/editButton.js"></script>
    <script src="/js/card.js"></script>
    <script src="/js/formChange.js"></script>
    <script src="/js/search.js"></script>
    <script src="/js/reload.js"></script>
</head>

<body class="body-bg">
    
    <!-- Sidebar -->
    <%- include('components/navbars/navbar.ejs', {authority: authority})%>
    
    <main>
        <!-- Top navigation bar -->
        <%- include('components/navbars/topNavbar.ejs')%>

        <!-- Cluster Content -->
        <div class="p-4 mt-5">
            <h3 class="Clusters page-title">Cluster Management</h3>

            <!-- Summary Box -->
            <div class="org-structure-wrapper">
                <div class="section-card org-structure-container-card">
                    <h3 class="org-structure-title">Organizational Structure</h3>
                    <div class="org-structure-grid">
                        <div class="org-structure-item">
                            <div class="org-structure-number"><%= totalClusters %></div>
                            <div class="org-structure-label">Total Clusters</div>
                        </div>
                        <div class="org-structure-item">
                            <div class="org-structure-number"><%= totalSavings.toFixed(2) %></div>
                            <div class="org-structure-label">Total Savings</div>
                        </div>
                        <div class="org-structure-item">
                            <div class="org-structure-number"><%= locations %></div>
                            <div class="org-structure-label">Projects</div>
                        </div>
                        <div class="org-structure-item">
                            <div class="org-structure-number"><%= activeMembers %></div>
                            <div class="org-structure-label">Active Members</div>
                        </div>
                    </div>
                </div>
            </div>
            
            <% var type = "Cluster";  %>
            <%- include('components/cardPages.ejs', { groupName: "All", groupId: "All", pageParts, type, authority}) %>
            <%- include('components/pagination.ejs', {page, totalPages})%>
        </div>

        <%- include('components/popups/deletePopup.ejs', { pageParts, type })%>
        <script>open('partsButton')</script>
        <%-include('components/popups/logoutPopup.ejs') %>
    </main>
</body>
</html>
