<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('components/headers.ejs', {authority, pageName: "Dashboard"})%>
    
    <!-- CSS -->
    <link rel="stylesheet" href="/css/dashboard.css" />
    
    <!-- SCRIPTS -->
    <script src="/js/chart.js"></script>
    <script src="/js/reload.js"></script>

    <!-- CHART -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body class="body-bg">
    
    <%- include('components/navbars/navbar.ejs', {authority: authority})%>
    
    <main>
        <!-- Top navigation bar -->
        <%- include('components/navbars/topNavbar.ejs')%>

        <!-- Dashboard content -->        
        <%- include('components/dashboardContent.ejs', {authority: authority, buttons: dashbuttons, nCluster, nProject, nGroup, nMember, savings})%>
        <script>open('dashboardButton')</script>
        <%-include('components/popups/logoutPopup.ejs') %>
        <script>
            chart([<%=[monthSavings.jan, monthSavings.feb, monthSavings.mar, monthSavings.apr, monthSavings.may, monthSavings.jun, monthSavings.jul, monthSavings.aug, monthSavings.sep, monthSavings.oct, monthSavings.nov, monthSavings.dec].join(',')%>], [<%=[monthMatch.jan, monthMatch.feb, monthMatch.mar, monthMatch.apr, monthMatch.may, monthMatch.jun, monthMatch.jul, monthMatch.aug, monthMatch.sep, monthMatch.oct, monthMatch.nov, monthMatch.dec].join(',')%>]);
        </script>
    </main>
</body>
</html>
