<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('components/headers.ejs', {authority, pageName: "Dashboard"})%>
    
    <!-- CSS -->
    <link rel="stylesheet" href="/css/dashboard.css" />
    
    <!-- SCRIPTS -->
    <script src="/js/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/back.js"></script>
    
</head>

<body class="body-bg">
    
    <%- include('components/navbars/navbar.ejs', {authority: authority})%>
    
    <main>
        <!-- Top navigation bar -->
        <%- include('components/navbars/topNavbar.ejs')%>

        <!-- Dashboard content -->        
        <%- include('components/dashboardContent.ejs', {authority: authority, buttons: dashbuttons, nCluster, nProject, nGroup, nMember, savings})%>
        <script>open('dashboardButton')</script>
        <%-include('components/popups/logoutPopup.ejs') %>
    </main>
</body>
</html>