<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('components/headers.ejs', {authority, pageName: "SHG"})%>
    
    <!-- CSS -->
    <link rel="stylesheet" href="/css/cardPages.css" />
    
    <!-- SCRIPTS -->
    <script src="/js/editButton.js"></script>
    <script src="/js/viewDetails.js"></script>
    <script src="/js/card.js"></script>
    <script src="/js/formChange.js"></script>
    <script src="/js/search.js"></script>
    <script src="/js/reload.js"></script>
</head>

<body class="body-bg">
    
    <%- include('components/navbars/navbar.ejs', {authority: authority})%>
    
    <main>
        <!-- Top navigation bar -->
        <%- include('components/navbars/topNavbar.ejs')%>

        <!-- SHG Content -->
        <!-- Note: Temporary number of containers -->
        <% const containers = 6; %>
        <div class="p-4 mt-5">
            <%- include('components/breadcrumb.ejs', {pageName: "SHG"}) %>
            
            <div class="mt-3 page-title">
                <h4>Self-Help Groups</h4>
                <div class="categories">
                    <span class="mr-2">Cluster <%=clusterName%></span>
                    <span class="mr-2">SP <%=projectName%></span>
                </div>
            </div>
             
            <% var type = "SHG";  %>
            <%- include('components/shgContent.ejs', { projectName, pageParts, type }) %>
            <%- include('components/pagination.ejs', {page, totalPages})%>
        </div>

        <%- include('components/popups/deletePopup.ejs', { pageParts, type })%>
        <script>open('partsButton')</script>
        <%-include('components/popups/logoutPopup.ejs') %>
    </main>
</body>
</html>