<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('components/headers.ejs', {authority, pageName: "Profile"})%>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/profile.css" />

    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- SCRIPTS -->
    <script src="/js/accountProfile.js"></script>
    <script src="/js/checkValidation.js"></script>
    <script src="/js/reload.js"></script>

    
</head>

<body class="body-bg">
    
    <%- include('components/navbars/navbar.ejs', {authority: authority})%>
    
    <main>
        <!-- Top navigation bar -->
        <%- include('components/navbars/topNavbar.ejs') %>

        <!-- User -->
        <% let user = user1 %>

        <!-- Account Profile -->
        <%- include('components/accountProfile/profileAccount.ejs', {authority: authority, user: user.username, pfp: user.photo}) %>
        <%- include('components/accountProfile/editAccount.ejs', {user: user.username, id: user._id, pfp: user.photo}) %>

        <!-- Modals -->

        <%-include('components/popups/savePopup.ejs', {pageName: "Profile"}) %>

        <%-include('components/popups/deleteProfileModal.ejs', {pageName: "Profile"}) %>
        
        <!-- Others -->
        <script>
            open('profileButton');
            $(document).ready(function() {
                $('#userToDelete').text("<%=user.username%>");
            });
        </script>
        
        <%-include('components/popups/logoutPopup.ejs') %>
    </main>
</body>
</html>
